{% extends 'base.html'%}
<!-- account creation page-->
{% load static %}
{% block content %}

<!-- Masthead-->
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center text-center">
      <div class="col-lg-10 align-self-end">
        <h2 class="text-white font-weight-bold">Modification de votre mot de passe</h2>
        <hr class="divider light my-4" >
        {%  for field in form  %}
        <h3 class="text-white"> {{ field.errors }} </h3>
        {% endfor %}
      </div>
      <div class="col-lg-8 align-self-baseline text-left">
        <form method="POST"  role="form" action="">
          {% csrf_token %}
          <div class='row my-2'>
            <div class='col-md-6 text-md-right text-center text-white'>{{ form.old_password.label_tag }}</div>
            <div class='col-md-6 text-md-left text-center'>{{ form.old_password }}</div>
          </div>
          <hr class="divider light my-2">
          <div class='row my-1'>
            <div class='col-md-6 text-md-right text-center text-white'>{{ form.new_password1.label_tag }}</div>
            <div class='col-md-6 text-md-left text-center'>{{ form.new_password1 }}</div>
          </div>
          <div class='row my-2'>
            <div class='col-md-6 text-md-right text-center text-white'>{{ form.new_password2.label_tag }}</div>
            <div class='col-md-6 text-md-left text-center'>{{ form.new_password2 }}</div>
          </div>
          <div class='row'>
            <div class='col py-1'>
              <input class="btn btn-primary btn-block" type="submit" value="Modifier" id="button-psw-update-submit">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</header>
{% endblock %}
